<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"> <!-- Add this line to link the style sheet -->
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Product</title>
    
    
</head>
<body>
    
<ul class="navbar">
        <li><a id="cart" href="/cart">Cart</a></li>
        <li><a id="cart" href="/">Store</a></li>
        <li><a href="/customer">Customer</a></li>
</ul>
    
    
    
        <div class="con">
            <p class="info-name"><%=product.name%></p>
            <p><img class="info-image" src="/images/<%=product.image%>" alt="<%=product.name%>"></p>



            <p class="info-descrip"><%=product.description%></p>
            <p class="info-price"><%=product.price%></p>
            <p class="info-stock"><%=product.stock%> available</p>

        <div class="quant-inner">
            <form class="quantity" action="/addToCart" method="POST">
              <label>Quantity:</label>
              <input type="number" name="quantity" value="1" min="1" max="<%=product.stock%>">
              <input type="hidden" name="productId" value="<%=product._id%>">
              <button type="submit" class="addToCartButton">Add to Cart</button>
            </form>

        </div>

        </div>
</body>
</html>
